.s {
  background-color: #187900;
  color: #fafafa;
}

.d {
  background-color: rgb(115, 32, 32);
  color: #fafafa;
}

.tr {
  background-color: rgba(#fffcfc, 0.09);
}

.drk-md {
  background-color: #202020;
  color: #fff;
}

.defa {
  background-color: transparent;
  color: black;
}
