/*Color Success*/
.cs {
  background-color: #4f943a;
  color: #fafafa;
}
/*Color Dangger*/
.cd {
  background-color: #d94848;
  color: #fafafa;
}
/*Color Info*/
.ci {
  background-color: #3cb9da;
  color: #fafafa;
}
/*Color raisefully*/
.ch {
  background-color: ##f4ce00;
  color: #000;
}

/*[Transparent]*/
/*Transparent*/
.tr {
  background-color: rgba(#fff, 0.09);
  color: black;
}
/*Transparent-1*/
.tr-1 {
  background-color: transparent;
  color: black;
}

.defa {
  background-color: #fff;
  color: black;
}

/*caret-color*/
/*Light Mode*/
.caret {
  caret-color: auto;
}
/*Dark Mode*/
.caret-drk {
  caret-color: lightgreen;
}
/*hidden scrollbar*/
.scrollbr {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scrollbr::-webkit-scrollbar {
  width: 0;
  height: auto;
  background-color: transparent;
}

.scrollbr::-webkit-scrollbar-thumb, .scrollbr::-webkit-scrollbar-track {
  background-color: transparent;
}

/*parallax*/
.par {
  /* Full height */
  width: auto;
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
