/*Color Success*/
.cs {
  background-color: #4f943a;
  color: #fafafa;
}
/*Color Dangger*/
.cd {
  background-color: #d94848;
  color: #fafafa;
}
/*Color Info*/
.ci {
  background-color: #3cb9da;
  color: #fafafa;
}
/*Color raisefully*/
.ch {
  background-color: ##f4ce00;
  color: #000;
}

/*[Transparent]*/
/*Transparent*/
.tr {
  background-color: rgba(#fff, 0.09);
  color: black;
}
/*Transparent-1*/
.tr-1 {
  background-color: transparent;
  color: black;
}

.defa {
  background-color: #fff;
  color: black;
}

/*caret-color*/
/*Light Mode*/
.caret {
  caret-color: auto;
}
/*Dark Mode*/
.caret-drk {
  caret-color: black;
}
/*hidden scrollbar*/
.scrollbr {
    scrollbar-width: none;
}
.scrollbr::-webkit-scrollbar {
  width: 0;
  height: auto;
  background-color: transparent;
}

/*parallax*/
.par {
  /* Full height */
  width: auto;
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/*Fake 3D Effect in CSS Using a Single Div*/

.circle{
  height: 400px;
  width: 400px;
  background: linear-gradient(#f00202 0%, #bd0404 10%, #7d0404 50%, #4a0202 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle::before{
  content: "";
  height: 360px;
  width: 360px;
  background: linear-gradient(#f06060 0%, #a30505 60%, #4d0202 100%);
  border-radius: 50%;
  filter: blur(18px);
}

.circle::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 60px;
  border-radius: 50%;
  background: rgba(0,0,0,0.6  );
  bottom: -60px;
  z-index: -1;
  filter: blur(10px);
}
