.searchweb {
  text-align: center;
  position: relative;
}

#myUL {
  list-style-type: none;
  padding: 0px 0px 0rem 0px;
}

#myUL li .judpos {
  border: 1px solid #3e0d78;
  margin-top: 15px; /* Prevent double borders */
  background-color: #3e0d78;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 0.375rem;
  font-weight: bold;
  display: grid;
  color: yellow;
  transition: 0.4s;
  cursor: pointer;
}

#myUL li .judpos:hover:not(.header) {
  background-color: yellow;
  color: black;
}

.vid-0 {
  max-width: 410px; box-shadow: 6px 6px 10px hsl(206.5, 0%, 75%); margin: 1rem auto; border-radius: 0.375rem;; position: static;
}
.vid-1 {
  position: relative; padding-bottom: 56.15%; height: 0; overflow: hidden; border-radius: 0.375rem;;
}
audio, canvas, embed, iframe, img, object, svg, video {
    vertical-align: middle;
}
.w-full {
    width: 100%;
}

.active, .judpos:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow-y: scroll;
  height: 60vh;
  scrollbar-width: none;
}

.panel::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.translat {
  background-color: white;
}
